/* * COLORS */
/* * ORANGE: #e3780c  */
/* * RED: #f13535  */
/* * BLUE: #004b91  */
/* * TAN (BG): #efe2ba  */
/* * LIGHTGRAY: #efefef  */

html,
body {
  margin: 0;
  background-color: #f1f0ea;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.active {
  text-decoration: overline !important;
  text-decoration-color: #e3780c !important;
}

.brand-name {
  text-shadow: 1px 1px 3px black;
}

input#searchField {
  background-color: #fff;
}
